@media screen and (max-width: 1000px) {
	.main_title_text img{
		width: 74%;
	}
}
@media screen and (max-width: 450px) {
	.footer_0 .footer_info {
		font-size: 12px;
	}
}
@media screen and (max-width: 400px) {
    .footer_0 .footer_info .copyright, .footer_0 .footer_info .phone{
        float: none;
        margin: 0;
    }
}
@media screen and (min-width: 700px) and (max-width: 850px) {
    .icon-container {
        width: 49.17%;
        margin-left: 4.21%;
    }
}
@media screen and (min-width: 650px) and (max-width: 700px) {
    .icon-container {
        width: 46.17%;
        margin-left: 3.21%;
    }
}

@media screen and (max-width: 1230px) {
	.images-wrapper,
	.up-content {
		margin-left: 320px;
		width: calc(100% - 320px);
	}
	
	#content_2 .left_menu{
		position: fixed;
	}
}

@media screen and (max-width: 1120px) {
	.images-line2 div:nth-of-type(n+2) {
		margin-left: 0;
	}
	.images-line1 div:nth-of-type(n+2) {
		margin-left: 0;
	}
	
	.images-line1 td,
	.images-line2 td{
		font-size: 13px;
	}
	
	.images-line1 {
		margin-bottom: -13%;
	}
}

@media screen and (max-width: 1230px) {
	.content-wrap {
		margin-left: 320px;
		width: calc(100% - 320px);
	}
	
	#content_4 .left_menu{
		position: fixed;
	}
}

@media screen and (max-height: 800px) {
	.menu-bottom {
		display: none;
	}
}

@media screen and (max-width: 1430px) {
	.send-button span {
		display: none;
	}
	.send-button {
		width: 13%;
	}
}
@media screen and (max-width: 1630px) {
	.popup-text {
		margin-top: 10%;
	}
}

@media screen and (max-width: 970px) {
	.popup-text {
		margin-top: 0;
	}
	.popup-text h3 {
		font-size: 15px;
	}
	.popup-text p {
		font-size: 15px;
	}
}

/*****************************
mobile design
****************************/

/************************
content_1
**************************/


@media screen and (max-width: 640px) {
	.left_menu {
		display: none;
	}
	
	.icon-container {
		width: 100%;
		top: 23.8%;
		height: 33%;
		margin-left: 8.21%
	}
	.icon-image-text {
		width: 36%;
		height: auto;
		display: inline-block;
	}
	.icon-image-text img.img-responsive-01 {
		margin: 0;
		width: 54%;
	}
	#first-icon {}
	#second-icon {}
	#third-icon {margin-top: 13%}
	#fourth-icon {margin-top: 22%}
	
	.icon-number {
		font-size: 8vw;
	}
	
	.icon-text {
		font-size: 17px;
	}
	
	.icon-texts1 {
		left: 54%;
		top: 7%;
	}
	
	.icon-image-text:nth-child(even){
		margin-left: 12%;
	}
	
	.icon-text-position1 {
		top: 80%;
		left: 0%;
	}
	.icon-texts2 {
		top: 61%;
		left: -2%;
	}
	
	.icon-text-position2 {
		left: 100%;
		top: 51%;
	}
	
	.icon-texts3 {
		top: 71%;
		left: -7%;
	}
	
	.icon-text-position3 {
		top: 52%;
	}
	
	.icon-texts4 {
		top: 75%;
		right: 55%;
	}
	
	.bottom-right-text-mob {
		width: 100%;
		height: 233px;
		position: absolute;
		bottom: 0;
		background-color: rgba(0,0,0,0.7)
		
	}
	
	.bottom-right-text {
		float: none;
		width: auto;
		bottom: initial;
		right: initial;
	}
	
	.bottom-number {
		margin-top: 52px;
		font-size: 15vw;
		margin-left: 15px;
	}
	
	.bottom-right-text img {
		position: absolute;
		display: inline-block;
	}
	
	.bottom-text {
		font-size: inherit;
		margin-left: 35px;
		margin-right: 10px;
	}
	
	.mob-head {
		width: 100%;
		height: 80px;
		background-color: rgba(0,0,0,0.7);
		position: absolute;
		top: 0;
	}
}

/*************************
content_3
***********************/

@media screen and (max-width: 640px) {
	.images-wrapper {
		display: none;
	}
	
	.up-content {
		display: none;
	}
}





















